@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3, i {
    opacity: 0.6;
}
body {
    background: #F8F8F8;
}
.chart_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.header {
    height: 80px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    position: relative;
}
.settings_cnt {
    display: flex;
}
.chart_option {
    margin: 15px;
    cursor: pointer;
    opacity: 0.6;
    font-weight: 600;
    letter-spacing: 1px;
}
#barChart{
    cursor: pointer;
}
.date {
    position: absolute;
    bottom: -90px;
    left: 25px;
    color: rgb(34, 34, 255);
}
.refresh_button:hover{
    opacity: 0.6;
}